
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
venv/
env/
ENV/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
project_details.txt
system_architecture_and_design.png

data/cache/*
data/embeddings/*
data/vectordb/*
data/postgresdb/*
!data/cache/.gitkeep
!data/embeddings/.gitkeep
!data/embeddings/brand_guidelines.txt
!data/vectordb/.gitkeep
!data/postgresdb/.gitkeep
mlflow.db
