version: 1
disable_existing_loggers: false

formatters:
  simple:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
    datefmt: '%Y-%m-%d %H:%M:%S'
  
  detailed:
    format: '%(asctime)s - %(name)s - %(levelname)s - [%(filename)s:%(lineno)d] - %(funcName)s() - %(message)s'
    datefmt: '%Y-%m-%d %H:%M:%S'

handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: simple
    stream: ext://sys.stdout
  
  file_handler:
    class: logging.handlers.RotatingFileHandler
    level: DEBUG
    formatter: detailed
    filename: logs/app.log
    maxBytes: 10485760
    backupCount: 5
    encoding: utf8
  
  error_file_handler:
    class: logging.handlers.RotatingFileHandler
    level: ERROR
    formatter: detailed
    filename: logs/error.log
    maxBytes: 10485760
    backupCount: 3
    encoding: utf8

loggers:
  src.core:
    level: DEBUG
    handlers: [console, file_handler]
    propagate: false
  
  src.rag:
    level: DEBUG
    handlers: [console, file_handler]
    propagate: false
  
  src.routes:
    level: INFO
    handlers: [console, file_handler]
    propagate: false
  
  crewai:
    level: WARNING
    handlers: [console, file_handler]
    propagate: false
  
  langchain:
    level: WARNING
    handlers: [console, file_handler]
    propagate: false

root:
  level: INFO
  handlers: [console, file_handler, error_file_handler]
